<a href="https://colab.research.google.com/github/Johnlester14/CpE009A-OOP/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#python identation

In [ ]:
if 5>2:
  print("five is greater than two") #comparison of number 5 and 2

five is greater than two

# python comment

In [ ]:
if 5>2:
  print("five is greater than two") #comparison of number 5 and 2

five is greater than two

#Python variable

In [ ]:
x=1  #this is a single variable with a value
a,b=0,-1

print(a)
print(b)
print(x)
b="sally"

print(b)

0
-1
1
sally

#Casting

In [ ]:
b="Sally" #This is a type of string
b=int(4)
print(b)


b=float(4)
print(b)

4
4.0

#type() function

In [ ]:
x=5
y="john"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

#Double Quotes or Single Quotes

In [ ]:
y="john"

print(y)
y = "john"

print(y)

john
john

#Case sensitive

In [ ]:
a=4
A="Sally"
#A will not overwrite a

#Multiple Variables

In [ ]:
x,y,z="one","two","three"
print(x)
print(y)
print(z)

print(x,y,z)

one
two
three
one two three

#One value to Multiple Variables

In [ ]:
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

#Output variables

In [ ]:
x="Enjoying"
print("Python programming is " +x)

Python programming is Enjoying

#Other way

In [ ]:
x="python is "
y="enjoying"
z=x+y
print(z)

python is enjoying

#Arithmetic Operations

In [ ]:
10**2

100

#Addition

In [ ]:
x=5
y=3
print(x+y)

x=5
y=3
sum=x+y
sum

8

8

#Assign operator

In [ ]:
a,b,c=0,-1,6
c%=3
c

0

#Comparison Operators

In [ ]:
x=1
y=1
x=y

#Logical operator

In [ ]:
x=1
x<5 and x<10

True

#Identity Operators

In [ ]:
a,b,c=0,-1,5
a is c
a is a

True

#Bitwise Operators